<!DOCTYPE html>
<html lang="en">
<head>
    <title>All students</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
    <link rel="stylesheet" href="assetsfolder/css/style.css">
</head>
<body>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        
          <div class="card p-4">
            <h4>Single Students</h4><hr>
            
            <img src="/assets/uploads/<%= student_data.photo %>" alt="">
            <hr>
            <h4><%= student_data.name %></h4>
            <h4><%= student_data.phone %></h4>
            <h4><%= student_data.email %></h4>
          </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>